button {
  padding: 1rem 1.25rem;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;

  transition: background 200ms ease-out;
  cursor: pointer;
}

button:hover {
  background: rgb(50, 50, 50);
}
